<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>
    
    <div class="blogs">
        {%- if(all_blogs_list!=[]) %}
            <h3 style="color:green">
            {%- for blogs in all_blogs_list %}
            <br>
            <br>
                <a href="{{ url_for('blog_post', blog_id=blogs.id) }}">
                <!-- <a href="/blog_post"> -->
                <h2> {{ blogs.title }} </h2>
                </a>

                <p>
                    Posted on:  {{ blogs.timestamp.strftime('%B %D, %Y') }}
                </p>
                <br>
                <a href="/delete/{{blogs.id}}">Delete</a>
            {%- endfor %}
        {%- endif %}
    </div>
</body>
</html>